<html>
<head>
<style type="text/css">
p
{
font-family:"Times New Roman";
font-size:40px;
text-align:center;
}
q
{
font-family:"Times New Roman";
font-size:10px;
text-align:center;
}
</style>
</head>

<body>

<p>{% trans "Guru Nanak Dev Engineering College" %}</p>
<q>{% trans "Punjab Govt Aided Status, NBA Accredited ISO-9001-2008 Certified" %}</p>
<p>{% trans "Testing & Consultancy Cell" %}</p>
<q>{% trans "Gill Park, Gill Road, Ludhiana - 141006" %}</q>
<q>{% trans "Website: http://tcc.gndec.ac.in  E-mail: tcc@gnec.ac.in Ph: 0161-2491193,5064509 Fax: 0161-5064742" %}</q> 

</body>
</html>
