{% extends "base.html" %}
{% load i18n %}
<html>
<head>
    <title>GNDEC LUDHIANA</title>
</head>
{% block content %}
<h3>JOB NO. : {{ maxid }} </h3>
<br>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
	{% csrf_token %}
        <table>
			<table>
			<tr><th><label for="id_lab">Lab:</label></th><td><select name="lab" id="id_lab">
<option value="" selected="selected">---------</option>
<option value="CDF">CDF</option>
<option value="OTHER">OTHER</option>
</select></td></tr>

            <tr><th><label for="id_field">Field:</label></th><td><select name="field" id="id_field">
<option value="" selected="selected">---------</option>
<option value="CDF">CDF</option>
<option value="OTHER">OTHER</option>
</select></td></tr>
			<tr><th><label for="id_other_field"> Other Field (only fill if your field is not in field options)</label></th><td><input type="text" name="other_field" id="id_other_field"  /></td></tr>
            <tr><th><label for="id_total">Total Amount</label></th><td><input type="text" name="total" id="id_total" /></td></tr>

        </table>
        <input type="submit" value="Submit">
    </form>

</html>
{% endblock %}
