{% extends "base.html" %}
{% load i18n %}

<html>
<head>
    <title>GURU NANAK DEV ENGINNER COLLEGE LUDHIANA</title>
</head>
{% block content %}
<body> 
 <h3>Thanks for Adding job no. : {{ maxid }} </h3>
 <br/><br/>
 <table>
 <caption><center><b>REPORTS</center></caption>	
	 <tr>
		<td><b><center><a href="{{ LOCAL_URL }}/tcc/automation/report/?job_no={{ maxid }}" target="window">GENERAL REPORT</a> </td>
		 <td><b><center><a href="{{ LOCAL_URL }}/tcc/automation/bill/?job_no={{ maxid }}" target="window">BILL</a> </td>
		 <td><b><center><a href="{{ LOCAL_URL }}/tcc/automation/receipt_report/?job_no={{ maxid }}" target="window">RECEIPT</a> </td>
	 </tr>
 </table>
</body>
{% endblock %}
